<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
    <style>
      .my-button {
        width: 200px;
        height: 200px;
        border: none;
        text-align: center;
        border-radius: 100px;
        outline: none;
        background: #b71540;
        color: white; 
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
      .my-button:hover {
        background: #eb2f06;
      }
    </style>
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!--<script type="text/javascript" {{ url_for('static', filename='capture.js')}}></script>-->
    <script>
      function button_scan(){
      console.log("button pressed");
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          // Typical action to be performed when the document is ready:
            var response = xhttp.responseText;
            console.log("ok "+response);
        }
      };
      xhttp.open("GET", "/api/scan", true);
      xhttp.send();
      }
    </script>
    <script>
      function button_close(){
      console.log("closing program");
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          // Typical action to be performed when the document is ready:
            var response = xhttp.responseText;
            console.log("ok "+response);
        }
      };
      xhttp.open("GET", "/api/close", true);
      xhttp.send();
      }
    </script>
   <div class="container">    
    <h1 align="center">Click the button to capture the id card</h1>
    <button type="button" class="my-button" onclick="button_scan()" align="center">Scan</button></div>
    <button type="button" class="my-button" onclick="button_close()" align="center">Close</button></div>
  </body>
</html>